doctype html
html(lang='en' ng-app='multichatApp')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= lang.title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bootstrap-social/bootstrap-social.css')
    link(rel='stylesheet', href='/angular-growl-v2/build/angular-growl.min.css')
    link(rel='stylesheet', href='/angular-material/angular-material.min.css')
    link(rel='stylesheet', href='/dropzone/dist/dropzone.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    block content-basic
    div(growl)
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/angular/angular.min.js')
    script(src='/angular-websocket/dist/angular-websocket.min.js')
    script(src='/angular-growl-v2/build/angular-growl.min.js')
    script(src='/angular-material/angular-material.min.js')
    script(src='/angular-aria/angular-aria.min.js')
    script(src='/angular-animate/angular-animate.min.js')
    script(src='/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='/angular-cookies/angular-cookies.min.js')
    script(src='/angular-sanitize/angular-sanitize.min.js')
    script(src='/dropzone/dist/dropzone.js')
    script(src='/ng-dropzone/dist/ng-dropzone.min.js')
    script(src='/fabric.js/dist/fabric.min.js')

    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyADk5KwybTSXR-fQGKRqBw_jPhxyCyhzJc')

    script(src='/config.js')

    script(src='/javascripts/utils/peopleManagement.js')
    script(src='/javascripts/controllers/peopleCtrl.js')
    script(src='/javascripts/utils/geolocationManagement.js')
    script(src='/javascripts/controllers/geolocationCtrl.js')
    script(src='/javascripts/utils/videoManagement.js')
    script(src='/javascripts/controllers/videoCtrl.js')
    script(src='/javascripts/controllers/videoModalCtrl.js')
    script(src='/javascripts/utils/audioManagement.js')
    script(src='/javascripts/controllers/audioCtrl.js')
    script(src='/javascripts/controllers/audioModalCtrl.js')
    script(src='/javascripts/utils/drawingManagement.js')
    script(src='/javascripts/controllers/drawingCtrl.js')
    script(src='/javascripts/utils/presentationManagement.js')
    script(src='/javascripts/controllers/presentationCtrl.js')
    script(src='/javascripts/utils/messagesManagement.js')
    script(src='/javascripts/controllers/messagesCtrl.js')
    script(src='/javascripts/controllers/messagesFileModalCtrl.js')
    script(src='/javascripts/controllers/messagesPictureOpenModalCtrl.js')
    script(src='/javascripts/filters/emojisFilter.js')
    script(src='/javascripts/filters/picturesFilter.js')
    script(src='/javascripts/utils/videoconferenceManagement.js')
    script(src='/javascripts/controllers/videoconferenceCtrl.js')

    script(src='/javascripts/modules/multichatApp.js')
    script(src='/javascripts/services/utilsServ.js')
    script(src='/javascripts/services/webSocketManagerServ.js')

    script(src='/javascripts/controllers/registerCtrl.js')
    script(src='/javascripts/controllers/logoutCtrl.js')
    script(src='/javascripts/controllers/loginCtrl.js')
    script(src='/javascripts/controllers/profileCtrl.js')
    script(src='/javascripts/directives/compareTo.js')
    script(src='/javascripts/directives/userNameAvailable.js')

